{
    "version": 1,
    "key": "core.config",
    "data": {
        "latitude": 53.60291810104679,
        "longitude": 87.33675688505174,
        "elevation": 0,
        "unit_system": "metric",
        "location_name": "Osinniki",
        "time_zone": "Asia/Novokuznetsk",
        "external_url": null,
        "internal_url": null
    }
}